{% extends 'index.html' %}
{% block title %}Asset List{% endblock %}
{% block content %}
{% load static %}

<h2 style="color:white; margin: 3vh auto; text-align: center;">Asset List</h2>

<table class="table table-dark table-hover" style="margin: 2vh, auto;">
    <thead>
        <tr>
          <th scope="col">Name of Asset</th>
          <th scope="col">Quantity</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Name of Person</th>
        </tr>
    </thead>
      <tbody>
        {% for asset in assets %}
        <tr>
          <td>{{ asset.name_of_asset }}</td>
          <td>{{ asset.quantity }}</td>
          <td>{{ asset.timestamp }}</td>
          <td>{{ asset.name_of_person }}</td>
        </tr>
        {% endfor %}
      </tbody>
</table>
{% endblock %}