{% extends 'index.html' %}
{% block title %}Inventory Forms{% endblock %}
{% block content %}
{% load static %}
<form style="margin: 5vh auto;" method = 'POST' action = "{% url 'getforms' %}">
    {% csrf_token %}
    <div class="container text-center" style="color: whitesmoke;">
        <div class="row">
          <div class="col-sm-12" style="margin: 10vh auto;">
            <img src="{% static 'gpms.png' %}" class="img-fluid" alt="GPMS logo">
          </div>
        </div>
        <div class="row" style="margin: auto;">
          <div class="col-sm-8">
            <label for="exampleDataList" class="form-label" style="margin: 3vh auto;">Inventory (asset)</label>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Name of asset..." name = 'nameOfAsset'>
                <datalist id="datalistOptions">
                    <option value="San Francisco">
                    <option value="New York">
                    <option value="Seattle">
                    <option value="Los Angeles"> 
                    <option value="Chicago">
                </datalist>
          </div>
          <div class="col-sm-4">
            <label for="numberInput" style="margin: 3vh auto;">Quantity</label>
            <input type="number" class="form-control" id="numberInput" placeholder="Enter number..." min="0" name = 'quantity'>
          </div>
        </div>
        <div class="col-sm" style="margin: 3vh auto;">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </div>
</form>

{% endblock %}